<!-- 	<h1>Hello my name is amey raverkar</h1>
<div ng-repeat="book in Books">
	Title : {{book.Title}}
	Image : <img src="{{book.Image}}">
</div> -->
<!-- <amey></amey> -->

Hii {{username}}  
<li><a href="" ng-click="logout()"> Logout</a></li>
<input type="text" name="" ng-model=searchData>
	<!-- <table border="1">
		<tr>
			<th ng-click="sortData('Title')">Title</th>
			<th ng-click="sortData('SubTitle')">Subtitle</th>
			<th>Image</th>
			<th>Action</th>
		</tr>
		<tr class="book-detail" ng-repeat="book in Books |orderBy:sortByMe |filter:searchData">
			
		</tr>
		<tr class="book-detail" ng-repeat="book in Books |orderBy:sortByMe |filter:searchData">
			
		</tr>
	</table>-->