<!--<img src="{{book.Image}}" alt="">
<h1>{{book.Title}}</h1>
<h4>{{book.Description}}</h4>
<p> <span ng-click="selectedBook(book)">Edit</span></p>
 <a href="#!/">Back</a> -->


<!-- <a ng-click="selectedBook(book)">
  	<h1>{{book.Title}}</h1>kkk
    <h4>{{book.Description}}</h4>
    <img src="{{book.Image}}" alt="">
    <h3>{{book.Title}}</h3>
</a> -->
<!-- <a ng-click="selectedBook(book)">
	<div style="float:left;width:33%;height:500px;overflow:auto">
		<span ng-click="selectedBook(book)">
		 	<img src="{{book.Image}}" alt="">
	    	<h3>{{book.Title}}</h3>
	    </span>
	</div>
</a>
 -->
<tr>
<td>{{book.Title}} Amey raverkae</td>
<td>{{book.SubTitle}}</td>
<td><img src="{{book.Image}}" style="height:30px;width:30px"></td>
<td><a href="">Edit</a>&nbsp;&nbsp;<a href="">Delete</a></td>
</tr>